@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nanum+Myeongjo&family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-neutral-950: #0e121b;
  --color-neutral-900: #191b25;
  --color-neutral-800: #232530;
  --color-neutral-700: #2b303b;
  --color-neutral-600: #525866;
  --color-neutral-500: #717784;
  --color-neutral-400: #99a0ae;
  --color-neutral-300: #cacfd8;
  --color-neutral-200: #e0e4ea;
  --color-neutral-100: #f3f5f8;
  --color-neutral-50: #f5f7fa;
  --color-neutral-0: #ffffff;
  --color-blue-700: #2547d0;
  --color-blue-500: #335cff;
  --color-blue-50: #ebf1ff;
  --color-green-500: #21c16b;
  --color-green-100: #d1fbe9;
  --color-red-500: #fb3748;
  --color-red-100: #ffd5d8;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
